/* Google fonts variable link */
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --outfit: "Outfit",sans-serif;
    --youngserif: "Young Serif", serif;
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --White: hsl(0, 0%, 100%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
}

a {
    text-decoration: none;
}

li {
    padding-left: 1rem;
    line-height: 2rem;
}

li, p {
    /* color:  var(--Brown800); */
    color: green;
    font-family: var(--outfit);
    font-weight: 400;
}

body {
    overflow-x: hidden;
}

h1,h2,h3 {
    font-family: var(--youngserif);
    margin: 1.2rem 0;
    font-weight: 400;
}

p {
    font-size: 1rem;
}

ul,ol {
    padding-left: 1.5rem;
}

.wrapper {
    width: 100vw;
    max-width: 1440px;
    background-color: var(--Stone100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card {
    padding: 1.5rem;
    background-color: var(--White);
    border-radius: 12px;
    width: 55%;
    max-width: 920px;
}

.main-card img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

#preparation-time,.ingredients,.Instructions,.nutrition {
    margin: 1.5rem 0;
    
}

#main-title {
    font-size: 1.8rem;
}

#preparation-time {
    background-color: var(--Rose50);
    backdrop-filter: blur(5px);
    padding: calc(1.5rem - 1.2rem) 1.5rem 1.5rem;
    border-radius: 12px;
    font-family: var(--outfit);
}

#preparation-time h3 {
    font-family: inherit;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.outfit600 {
    font-family: inherit;
    font-weight: 600;
}

h2 {
    font-size: 1.87rem;
    color: var(--Brown800)
}

.Instructions {
    border-top: 1.5px solid var(--Stone150);
    border-bottom: 1.5px solid var(--Stone150);
    margin: auto;
    padding-bottom: 2rem; 
}

table {
    margin: 1.5rem 1rem 1.5rem 0;
    width: 100%;
    font-family: var(--outfit);
}

td {
    padding: 1rem 1rem;
    border-bottom: 1.5px solid var(--Stone150);
}

tr:last-child > td {
    border: none;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .main-card {
        width: 60%;
    }
}

@media screen and (max-width: 426px){
    .main-card {
        width: 100%;
        padding: 0;
    }

    .main-card img {
        border-radius: 0px;
    }

    .padding {
        padding: 0 1.5rem;
    }
}

